@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&display=swap');

:root{
    --dark-pink: rgb(245, 78, 106);
}


/****header***/
.top-header{
    width: 100%;
    background-color: rgb(214, 164, 98);
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.right-side-header i{
    margin: 15px;
}

.header-wrapper a{
    transition: all .50s;
    text-decoration: none;
    color: black;
}

.header-wrapper a:hover{
    color: white;
}


.left-side-header p, .center-side-header p{
    margin: 15px;
}

.fa-facebook{
    color: #1877F2;
}

.fa-twitter{
    color: #1DA1F2;
}

.fa-instagram{
    color: #E4405F;
}


@media(max-width:738px) {
    .header-wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .header-wrapper>div{
        display: flex;
        justify-content: center;
    }
}



/***navbar***/
.navbar{
    width: 100%;    
}

.navbar-shadow{
    box-shadow: 4px 4px 4px 4px gray !important;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
}


.nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    padding: 0 20px 0 20px;
}

.left-nav li, .right-nav li{
    display: inline-block;
    list-style: none;
}


.left-nav li a, .right-nav li a{
    margin: 15px;
    color: black;
    font-size: 20px;
    transition: all .50s;
    text-decoration: none;
}

.left-nav li a:hover, .right-nav li a:hover{
    color: var(--dark-pink);
}

.center-nav h1{
    font-family: cursive;
}

@media(max-width:738px){
    .left-nav, .right-nav{
        display: none;
    }

    .nav-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


.menu-bar-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-bar{
    cursor: pointer;
    display: none;
}


@media(max-width:738px){
    .menu-bar{
        display: inline-block;
    }

}


.bar{
    width: 35px;
    height: 5px;
    background-color: var(--dark-pink);
    transition: all .4s;
    margin: 6px 0;
}

.change .bar1{
    transform: translate(0, 12px)rotate(50deg);
}

.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform: translate(0, -11px)rotate(-50deg);
}

/****dropdown menu****/
#dropdown-menu{
    width: 100%;
    height: 0;
    border: solid black;
    padding: 0 0 0 12px;
    opacity: 0;
    z-index: 1000;
    background-color: white;
}

@media(min-width:738px) {
    #dropdown-menu{
       display: none;
    }
}


.change-height{
    height: 280px !important;
    opacity: 1 !important;
    transition: all .50s;
}



#dropdown-menu li{
    display: flex;
    transition: all .50s;
}

#dropdown-menu li:hover{
    background-color: peachpuff;
    font-weight: 700;
}


#dropdown-menu li a{
    color: black ;
    display: none;
}

.change-display{
    display: flex !important;
}


#dropdown-menu li a:hover{
    text-decoration: none;
    color: var(--dark-pink);
}

.dropdown-container{
    width: 100%;

}

.dropdown-wrapper{
    width: 100%;    
}


/****home section slides***/

.carouselSlider{
    width: 100%;
    height: 100vh;
    overflow: hidden;
   
}


.carouselSlider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
}

.slider-context-wrapper{
    position: absolute;
    padding: 20px;
    color: white;
    top: 40%;
}

.learn-more-btn button{
    width: 120px;
    height: 40px;
    background-color: var(--dark-pink);
    cursor: pointer;
    border: solid white 1px;
    color: white;
    border-radius: 10px;
}


.radio-btn{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 100;
}


.radio{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: solid black;
    margin: 20px;
    cursor: pointer;
    background-color: white;
}

#slider3 .slider-context-wrapper{
    color: black;
}

.active-slider{
    display: inline-block !important;
}

.active-radio{
    background-color: var(--dark-pink);
}



/******choose us**/

#chose-us{
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: aliceblue;

}


@media(max-width:603px) {
    #chose-us{
        max-width: 100vw;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        gap: 15px;
    }
}


#chose-us img{
    width: 100%;
    height: 100%;
}

.chose-context{
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.chose-context h1{
    text-align: left;
    color: var(--dark-pink);
}

.chose-context p{
    text-align: left;
}

.chose-context button{
    width: 150px;
    height: 45px;
    background-color: antiquewhite;
    border: solid pink 1px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .50s;
}

.chose-context button:hover{
    color: white;
    background-color: var(--dark-pink);
}



/****SERVICES****
#services{
    max-width: 100vw;
    height: 50vh;
}


.service-title{
    display: flex;
    justify-content: center;
    color: var(--dark-pink);
}


.service-slide-container{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

.slider-carousel-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #ff7878 74%);

}


.service-box{
    width: 340px;
    height: 90%;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.service-box img{
    width: 100%;
    height: 90%;
}

.service-radio{
    display: flex;
    justify-content: center;
    width: 100%;

}

.active-image{
    display: flex;
}


.service-container{
    width: 100%;
    height: 100%;
}

@media(min-width:931px) {
    .service-container{
        width: 100%;
    }
}

.service-container-wrapper{
    width: 100%;
    background-color: #f6ecc4;
    background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
    display: none;
}

.service-name{
    display: flex;
    justify-content: center;
    color: var(--dark-pink);
}

.service-prices li{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 25px;
}


.service-prices li span{
    margin-left: 30%;
}

.active-container{
    display: inline-block !important;
}
****/

#team{
    padding-top: 30px;
}

.team-title{
    display: flex;
    justify-content: center;
    color: var(--dark-pink);
    text-align: center;
}

.team-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


@media(max-width:1057px) {
    .team-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }
}


@media(max-width:681px) {
    .team-grid{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }
}



.team-box{
    width: 340px;
    border: solid grey 1px;
    padding: 20px;
}

.team-img{
    width: 100%;
    height: 260px;
}

.team-img img{
    width: 100%;
    height: 100%;
}


.team-context-wrapper>div{
    display: flex;
    justify-content: center;
}


.team-intro{
    text-align: center;
    padding: 0 20px 0 20px;
}


.team-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.team-btn button{
    width: 160px;
    height: 45px;
    background-color: white;
    border: solid palevioletred;
    cursor: pointer;
    transition: all .50s;
    border-radius: 20px;
}

.team-btn button:hover{
    background-color: var(--dark-pink);
    color: white;
}


/***testimony bootstrap***/
@media only screen and (max-width:768px) {

    .testimony{
   }

     }

   .height{
    min-height: 100vh;
   }

   .card{

    border: none;
    cursor: pointer;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
   }

   .card:hover{

    background-color: #eee;

   }

   .ratings i{

    color: orange;
   }



   .testimonial-list{
    list-style: none;
    padding-right: 35px;
   }


   .testimonial-list li{

    margin-bottom: 20px;
   }

   .testimonials-margin{

    margin-top: -19px;
   }


   .testimony img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}


#accordionExample{
    background: linear-gradient(white, aliceblue);
    background-size: cover;

}


/***contact***/

#contact{
    max-width: 100%;
    background:linear-gradient(aliceblue, pink);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width:823px){
    .contact-box{
        background-color: white;
        border: solid black;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}


.contact-icon img{
    width: 100%;
    height: 100%;
}

.contact-title{
    display: flex;
    justify-content: center;
    color: var(--dark-pink);
}


.loading{
    display: flex;
    justify-content:center;
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: solid black;
    margin: 40px;
}

.circle .line{
    width: 58px;
    height: 3px;
    background-color: var(--dark-pink);
    margin-left: 23px;
    margin-top: 6px;
}

.circle1{
    background-color: #E4405F;
}

.form-sub{
    display: flex;
    justify-content: center;
    text-align: center;
}

.input-box{
    display: flex;
    justify-content: center;
    margin: 25px;
    gap: 20px;
}

.input-box input{
    border: none;
    border-bottom: solid grey !important;
    padding-left:10px;
}

.dir-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dir-btn span{
    padding: 10px;
}


.dir-btn button{
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .50s;
}


.dir-btn button:hover{
    background-color: var(--dark-pink);
    color: white;
}


.address-input input{
    width: 400px;
}

.text-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.text-area textarea{
    padding: 20px;
}


.active-form{
    display: inline-block !important;
}

.contact-form{
    display: none;
}



/****footer***/
footer{
    width: 100vw;
    background-color: black;
}


.footer-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

.copyright p{
    color: white;
    font-size: 20px;
}

.social-links i{
    margin: 30px;
    font-size: 30px;
}

.social-links .fa{
    cursor: pointer;
}